<div class="estado-academico-container">
    <div *ngIf="carreras | async" class="table-container">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Carrera</th>
                    <th>Fecha Inscripcion</th>
                    <th>Promedio</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let c of carreras | async">
                    <td>{{ c.identificador }}</td>
                    <td>{{ c.carrera }}</td>
                    <td>{{ c.fechainscripcion | date:'yyyy-MM-dd' }}</td>
                    <td>{{ c.promedio ? c.promedio : '-' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cursos | async" class="table-container">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th>Carrera</th>
                    <th>Fecha Inscripcion</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let c of cursos | async">
                    <td>{{ c.identificador }}</td>
                    <td>{{ c.curso }}</td>
                    <td>{{ c.carrera }}</td>
                    <td>{{ c.fechainscripcion | date:'yyyy-MM-dd' }}</td>
                    <td>{{ c.notaFinal ? 'Aprobada con '+c.notaFinal : 'Cursando' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!(carreras | async)" class="spinner-container">
        <i class="fas fa-spinner fa-spin"></i>
    </div>

</div>
