<div class="alumno-container">

    <div *ngIf="alumnosInscriptos | async" class="table-container">
        <table class="pure-table">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nac</th>
                    <th>Tipo Doc</th>
                    <th>Documento</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of alumnosInscriptos | async">
                    <td>{{ a.legajo }}</td>
                    <td>{{ a.nombre }}</td>
                    <td>{{ a.apellido }}</td>
                    <td>{{ a.fechanac | date:'yyyy-MM-dd' }}</td>
                    <td>{{ a.tipodoc }}</td>
                    <td>{{ a.documento }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!(alumnosInscriptos | async)"  class="spinner-container">
        <i class="fas fa-spinner fa-spin"></i>
    </div>


</div>
