<div class="alumno-container">

    <div *ngIf="alumnos | async" class="table-container">
        <table class="pure-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nac</th>
                    <th>Tipo Doc</th>
                    <th>Documento</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let a of alumnos | async">
                    <td>
                        <div (click)="onClickEdit(a)" class="btn-editar">
                            <i class="fas fa-edit"></i>
                        </div>
                    </td>
                    <td>{{ a.legajo }}</td>
                    <td>{{ a.nombre }}</td>
                    <td>{{ a.apellido }}</td>
                    <td>{{ a.fechanac | date:'yyyy-MM-dd' }}</td>
                    <td>{{ a.tipodoc }}</td>
                    <td>{{ a.documento }}</td>
                    <td>
                        <button [routerLink]="['/home/alumnos/'+a.identificador+'/estado-academico']" class="pure-button">
                            Estado Académico
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!(alumnos | async)"  class="spinner-container">
        <i class="fas fa-spinner fa-spin"></i>
    </div>

    <div class="btn-container">
        <button [routerLink]="['/home/alumnos/nuevo']" class="pure-button">Nuevo</button>
    </div>


</div>
